.work__filters
{
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5 rem;
}

.work__item {
  cursor: pointer;
  font-weight: var(--font-bold);
  transition: .3s;
}

.work__item:hover {
  color: var(--first-color);
}

.work__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

/*Responsive-ness*/
@media screen and (max-width: 1024px) {
  .portfolio__filters {
    justify-content: center;
  }
  .portfolio__container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    grid-template-columns: 310px;
  }

  .portfolio__filters {
    row-gap: 0.25rem;
  }
}
